html
    head
        title Simple HTTP Server
        style
            include ./styles.css
    body
        h2=welcome
        p= p
        p= "Title: " + title
        p= "Author: " + author
        p= "Date: " + date
        p= "Public Type: " + public
        p= "Article: " + content
        br
        br
        a(href="./") Home
        br
        br
        a(href="./login") Login Here!