html
    head
        title Simple HTTP Server
        style
            include ./styles.css
    body
        h2=welcome
        a=a
        - var hrefIndex=0
        each val, index in array
            if set[index]
                span= 'Article ' + (index+1) + ': '
                    a(href=href[hrefIndex]) #{val}
                    - hrefIndex++;
            else
                span= 'Article ' + (index+1) + ': ' + val
            br
            br
        a(href="./logout") Logout!